/*****************************pagina 0 y estilos generales***********************************/
body{
  font-family: 'Audiowide', cursive;
  background-color: #120078;
  color: #fecd1a;
  text-align: center;
  font-size: 1rem;
}
h1{
  font-family: 'Faster One', cursive;
  padding:1rem;
  font-size:4rem;
}
footer{
  margin-top:150px;
  padding:1rem;
}
a{
  text-decoration:none;
  color:white;
}
a:hover{
  text-decoration:none;
  color:#120078 ;
}
/*link del inicio*/
.foot{
  color:grey;
  font-size:0.7rem;
  text-decoration: none;
}
.foot:hover{
  text-decoration: none;
  color:grey;

}
.home{
  font-size: 1.5rem;
  margin: 200px;
}
/*boton que huye en el principio*/
.play{
position:relative;
background-color: #fd3a69;
color:white;
width: 90px;
padding:10px;
margin-top: 1rem;
border-radius: 5%;
left:300px;
}
/*clase aplicable a todas las paginas para dejar bastante margen a los lados y centrar el contenido*/
.pagN{
  padding:1rem;
  margin: 5% 200px;
  text-align: left;
}
/*********************************pag1***********************************************/
.btn{
  background-color: #fd3a69;
  color:white;
  border-color: #fd3a69;
}
.btn:hover{
  background-color: #fd3a69;
  border-color: #fd3a69;
}

/*********************************pag2*************************************************/
/*cuadrados del captcha*/
.cuadrado{
  width: 150px;
  height: 150px;
  display: inline-block;
}
.captcha{
text-align: center;
margin:50px 100px;

}
.captcha-title{
background-color:#9d0191;
height:100px;
margin-left: 8px;
margin-right: 8px;
padding: 1.8rem;
}


/***************************pag3*******************************/
canvas{
  background-color: white;

}


/**************************pag4*****************************/

.simbolo{
  font-family: sans-serif;
  font-size:4rem;
}
/**************************pag5********************************/
/*imagenes del test*/
img{
  max-width: 500px;
  max-width: 500px;
  margin-top:10%;
  margin-top:5%;
}
